body.active-modal {
  overflow-y: hidden;
}

.modal {
  position: relative;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(24, 24, 24, 0.8);
}
.modal-content {
  position: absolute;
  width: 260px;
  height: 120px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  color: #333;
  background: #fff;
  /* padding: 14px 28px; */
  border-radius: 10px;
}
.modaltwo {
  width: 260px;
  height: 100px;
}
.pink {
  margin-top: 30px;
  color: #ed9071;
  width: 80px;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.pink2 {
  width: 110px;
  color: #ed9071;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.content {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 600;
  height: 180px;
  text-align: center;
  font-size: 13px;
}
.falseButton {
  width: 130px;
  height: 40px;
  border: none;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 800;
  border-radius: 0 0 0px 10px;
  color: #fff;
}
.trueButton {
  width: 130px;
  height: 40px;
  background-color: none;
  border: none;
  background-color: #ed9071;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 800;
  border-radius: 0 0 10px 0;
}
