.MyModal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyModal .content {
  background: #f6f0ee;
  padding: 1rem;
  width: 300px;
  height: auto;
  margin-left: -6.5px;
}
