.MyModal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyModal .content {
  padding: 1rem;
  width: 270.59px;
  height: auto;
  margin-left: 0px;  
  border-radius: 4px 4px 0px 0px;
}
