body.active-modal {
    overflow-y: hidden;
  }
  
  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 0px auto 0;
    font-size: 18px;
  
  }
  .modal {
    position: relative;
    z-index:999;
  }
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(24, 24, 24, 0.8);
  }
  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    color:#333;
    background: #fff;
    /* padding: 14px 28px; */
    border-radius: 3px;
    max-width: 700px;
    min-width: 700px;
    border-radius: 10px;;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }