.chattingContainer {
  width: 360px;
  height: 640px;
  margin: auto;
  background: #f6f0ee;
  /* border: 3px solid #ED9071; */
}

.Header {
  background: #f6f0ee;
  width: 360px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -3px 0 0 -3px;
}
.Nickname {
  
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.clearTrade {
  width: 26px;
  height: 26px;
  margin-top: 15px;
  background-color: green;
}
.clearName {
  font-size: 10px;
  font-weight: 600;
}
.userImg {
  width: 50px;
}

.OrangeSpan {
  color: #ed9071;
  font-weight: bold;
}
.span {
  width: 30px;
  margin-left: 10px;
}
.postTitleSpan {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}
.pricePtag {
  font-weight: bold;
}
.textBox {
  display: flex;
  padding: 4px;
  background: #f6f0ee;
  min-height: 40px;
  width: 318.82px;
}
.textColorDiv {
  max-width: 170px;
  word-break: break-all;
  background: #ffffff;
  align-items: center;
  color: black;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  text-align: left;
  margin-bottom: 2px;
  overflow: hidden;
  align-items: center;
  font-weight: 600;
  margin-left: 25px;
  font-size: 13px;
}
.textColorDiv2 {
  max-width: 170px;
  word-break: break-all;
  margin-left: auto;
  background: #ed9071;
  align-items: center;
  color: black;
  padding: 8px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  overflow: hidden;
  margin-right: autox;
  font-size: 13px;
  font-weight: 600;
}
.ArrowImg {
  position: absolute;
  z-index: 10;
  margin-bottom: 6px;
  margin-right: 15px;
  cursor: pointer;
}
.INPUT {
  width: 314.41px;
  height: 33.26px;
  border: none;
  border-radius: 15px;
  position: relative;
  padding: 5px 47.48px 0 12.93px;

  font-size: 13px;
  font-weight: 400;
  margin-top: -1px;
  word-break: break-all;

  /* background-color: yellowgreen; */
}
.foot {
  opacity: 80%;
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 15px 15px 20px;
  margin: auto 0;
}

.flexBox {
  display: flex;
  width: 360px;
  height: 59px;
  border-style: solid;
  border-color: rgba(237, 144, 113, 0.41);
  border-width: 1px 0;
  margin: auto;
}
.flexBox2 {
  display: flex;
}

.colorSpan {
  font-weight: 600;
  color: #ed9071;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 10px;
}
.colorSpan2 {
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.colorSpan3 {
  font-weight: 700;
  font-size: 13px;
  margin-left: 10px;
}

.chat-date {
  width: 80px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  background-color: rgba(246, 240, 238, 0.8);
}

.photoImg {
  margin-top: 10px;
  margin-left: 17px;
  width: 40px;
  height: 40px;
  border-radius: 10%;
}
.marginBottom {
  margin-bottom: 10px;
}
.atTime {
  font-weight: 400;
  font-size: 4px;
  line-height: 9px;
  color: #424242;
}
