.layout {
  width: 360px;
  height: 640px;
}

h1 {
  font-family: "Pretendard", sans-serif;
  font-style: normal;
  font-weight: 150;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ed9071;
  margin: 10px 0;
  padding: 0;
}
input {
  height: 34px;
  margin-top: 10px;
  outline: none;
  text-indent: 8px;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.date {
  border: none;
  background-color: #ececec;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../img/date.png") no-repeat right 4px center;
  margin-right: 5px;
}
input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
select {
  height: 34px;
  margin-top: 10px;
  text-indent: 10px;
  border: none;
  background: url("../img/arrow.png") no-repeat right 9px center;
  background-color: #ececec;
  appearance: none;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}
textarea {
  height: 14em;
  resize: none;
  text-indent: 10;
  outline: none;
  margin-top: 10px;
  text-indent: 8px;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 14px;
}

.btngroup {
  display: flex;
  margin-top: 12px;
}
.btngroup > button {
  width: 180px;
  height: 45.16px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 900;
  background-color: #838383;
}
.btngroup > button:last-child {
  color: #000;
  background-color: #ed9071;
}
.desk {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
