.layout {
  width: 360px;
  height: 638px;
  max-height: 640px;
  /* background-color: #f6f0ee; */
  margin: auto;
}

.LoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
}

.Logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #ed9071; */
}

.LoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  text-align: center;
}

.LogoLogin {
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.19px;
  margin: 5.57px auto 34px;
}

.Red {
  color: #fd6e7f;
  font-family: "Pretendard", sans-serif;
  font-size: 13px;
  line-height: 11.93px;
  font-weight: 700;
  text-align: left;
  width: 270px;
  padding: 5px;
}

.Green {
  color: #4db173;
  font-family: "Pretendard", sans-serif;
  font-size: 13px;
  line-height: 11.93px;
  font-weight: 700;
  text-align: left;
  padding: 5px;
}

.ErrorMessageWrap {
  color: #fd6e7f;
}

.Input {
  border: 1px solid #929292;
  width: 280px;
  height: 40px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  background: transparent;
  padding-left: 14.69px;
  margin: 9px auto 9px;
}

.Input::placeholder {
  color: rgba(120, 120, 120, 1);
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.03px;
}

.InputBox {
  justify-content: left;
  /* background-color: #4db173; */
}

.SocialLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  margin-bottom: 24px;
  color: rgba(120, 120, 120, 1);
}

.SocialLogin > span {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  margin-bottom: 22px;
}

.Hr {
  border: 1px solid rgba(153, 153, 153, 0.54);
  margin-bottom: 30.42px;
}

.LogoBtns {
  width: 100px;
  height: 38px;
}

.Btn-Sign {
  /* background-color: #fd6e7f; */
}


.LoginButton {
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #ed9071;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 22.58px auto 22px 14px;
}

.SignButton {
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #aeaeae;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto 36px 14px;
}