.footer {
  width: 360px;
  height: 55.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-left: 10px;

  background-color: #FFF;
  border: 0.5px solid rgba(248, 209, 197, 0.5);
}

.footer > img:hover{
  width: 44px;
  height: 41px;
  background-color: rgba(248, 209, 197, 0.5)
}