.signin {
  width: 540px;
  height: 960px;
  background-color: #F6F0EE;
  margin: auto;
  border: 2px solid #ED9071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};