.Rating-wrap{
    position: relative;
    margin-top:20px;
  }
  .Rating-wrap>p{
    margin:0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  .Rating-wrap>.center{
    text-align: center;
  }
  .Rating-wrap>.stBtn{
    border:none;
    width:300px;
    height: 40px;
    font-weight:900;
    text-align:center;
    color:#fff;
    background:#ED9071;
    border-radius: 0 0 10px 10px;
    margin-top:20px;
  }
  .Rating-wrap>span{
    position: absolute;
    top:100px;
    left:86px;
    font-size: 12px;
    font-weight: 600;
    color:#ED9071;
  }