body.active-modal {
    overflow-y: hidden;
    background: rgba(24, 24, 24, 0.8);

  }

  .modal2 {
    position: relative; 
    z-index:999; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

  }

  
  .overlay2 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(24, 24, 24, 0.8);
  
  }
  .modal2-content2 {
    position: absolute;
    width: 260px;
    height: 120px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    color:#333;
    background: #fff;
    /* padding: 14px 28px; */
    border-radius: 10px;
  }
  .modalTwo2{
    width: 260px;
    height: 100px;
  }
  .pink{
    margin-top: 30px;
    color: #ED9071;
    width: 90px;
    font-weight: 600;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap; 
    display:inline-block;

  }
  .pink2{
    width:60px;
    color: #ED9071;
    font-weight: 600;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap; 
    display:inline-block;
  }
  
  .content2{
    font-weight: 600;
    height: 180px;
    text-align: center;
    font-size: 13px;
  }
  .falseButton{
    width:130px;
    height:40px;
    border:none;
    background-color: #545454;
    font-weight: 800;
    border-radius: 0 0 0px 10px;
    color:#fff;

  }
  .trueButton{
    width:130px;
    height: 40px;
    background-color: none;
    border:none;
    background-color: #ED9071;
    font-weight: 800;
    border-radius: 0 0 10px 0;
  }
  .flexZone{
    text-align: center;

    align-items: center;
  }