ul,li{
  width:360px;
  list-style: none;
}
li{ 
  margin:10px 0;
  text-align: center;
  line-height: 36px;
  width:90px;
  height:36px;
  border:none;
  background-color:#ddd;
  border-radius:30px;
  font-weight:600;
}
/* li:hover{ 
  
    background-color:#ED9071;
    color:#fff;
  
}
li:first-child:hover{
  background-color:#ED9071;
  color:#fff;
} */