ul,li{
  width:360px;
  list-style: none;
  justify-content:center;
}
li{ 
  
  text-align: center;
  line-height: 36px;
  width:60px;
  height:36px;
  border:none;
  background-color:#ddd;
  border-radius:30px;
  font-weight:600;
}

h1,h2,h3,h4,h5,h6,p,span,strong{
  margin:0;
  padding:0;
}