@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'inter';
    src: local('inter');
    /* , url(${inter}) format('truetype'); */
    font-style: initial;
}

.App {
  font-family: "Inter", sans-serif;
}