:root {
  --disp: flex;
  --flex-d-c: column;
  --flex-d-r: row;
  --align-itm: center;
  --jus-cont: center;
  --mg-a: auto;
  --pd-l-1: 21.81px; //반려동물나이,이름,종류
  --pd-l-2: 27.23px; //글작성제목,가격,내용,날짜,위치,크기 + 검색창
  --pd-l-3: 13.5px 25px; //채팅입력창
  --pd-l-4: 25px; //로그인회원가입

  --font-fam: 'Pretendard', sans-serif;
  --font-s1: 13.5px;
  --font-s2: 15px;
  --font-s3: 16.5px;
  --font-s4: 18px;
  --font-s5: 19.5px;
  --font-s6: 21px;
  --font-s7: 22.5px;
  --font-s8: 24px;
  --font-s9: 30px;
  --font-s10: 48px;
  --font-w1: 200;
  --font-w2: 300;
  --font-w3: 400;
  --font-w4: 500;
  --font-w5: 600;
  --font-w6: 700;

  --color-1: #ED9071; //메인
  --color-2: #F6F0EE; //서브
  --color-3: #FD6E7F; //로그인인풋
  --color-4: #4DB173; //로그인인풋
  --color-5: #FFFFFF; //컬러버튼텍스트
  --color-6: #252525; //모달 텍스트
  --color-7: #F8D1C5; //메인리스트보더
  --color-8: #5A5A5A; //카테고리탭
  --color-9: #424242; //포스트박스카테고리 + 채팅방날짜
  --color-10: #4E4E4E; //상세state + 채팅목록 + 마이페이지공지
  --color-11: #696969; //상세날짜,위치,시간 + 마이페이지사진수정
  --color-12: #393939; //게시글미리보기,추가,업로드갯수 + 마이페이지탭메뉴활성
  --color-13: #787878; //글쓰기제목,내용,가격 + 마이페이지탭메뉴비활성화
  --color-14: #5E5E5E; //글쓰기날짜,위치,크기 + 반려동물이름,나이,종류
  --color-15: #EE8B6A; //마이페이지공지
  --color-16: #333333; //마이페이지닉네임
  --color-17: #B9B9B9; //마이페이지 로그아웃
  --color-18: #606060; //마이페이지 약속날짜
  --color-19: #A1A1A1; //마이페이지 진행완료,작성일자
  --color-20: #929292; //글쓰기제목,가격,내용테두리색
  --color-21: #6F6F6F; //검색창테두리
  --color-23: #7D7D7D; //중복확인텍스트
  --color-24: transparent; //투명배경

  --bg-1: #ED9071; //메인
  --bg-2: #F6F0EE; //서브
  --bg-3: #E7E7E7; //채팅상대말풍선
  --bg-4: #AFAFAF; //모달취소
  --bg-5: #AEAEAE; //회원가입
  --bg-6: #838383; //글쓰기등록취소
  --bg-7: #FFFFFF; //흰색배경
  --bg-8: #DEDCDB; //글쓰기날짜,위치,크기
  --bg-8: #EBEBEB; //채팅입력창
  --bg-9: #D9D9D9; //중복확인

  --bder-1: none;
  --bder-2: 0.75px solid;
  --bder-3: 1.5px solid;

  --bder-rad-1: 1.5px;
  --bder-rad-2: 4.5px;
  --bder-rad-3: 6px;
  --bder-rad-4: 18px;
  --bder-rad-5: 22.5px;
  --bder-rad-6: 13.5px 13.5px 0 0;
  --bder-rad-7: 0 0 0 15px;
  --bder-rad-8: 0 0 15px 0;
  --bder-rad-9: 0 0 0 16.5px;
  --bder-rad-10: 0 0 16.5px 0;
  --bder-rad-11: 0 0 0 18px;
  --bder-rad-12: 0 0 18px 0;
  
  --home-w: 100vw;
  --home-h: 100vh;

  --layout-w: 540px;
  --layout-h: 960px;

  --cont-w: 540px;
  --cont-h: 960px;

  --input-1-w: 57.96px; //말풍선최소
  --input-1-h: 49.88px; 
  --input-2-w: 161.56px;//말풍선증간
  --input-2-h: 49.88px;
  --input-3-w: 205.09px; //반려동물나이
  --input-3-h: 32.76px;
  --input-4-w: 500.77px; //반려동물이름,종류
  --input-4-h: 32.76px;
  --input-5-w: 411.36px; //말풍선최대
  --input-5-h: 49.88px;
  --input-6-w: 435px; //글쓰기제목,가격
  --input-6-h: 50.66px;
  --input-7-w: 435px; //글쓰기내용
  --input-7-h: 222.2px;
  --input-8-w: 435px; //글쓰기날짜,위치,크기
  --input-8-h: 50.66px;
  --input-9-w: 469.52px; //검색창
  --input-9-h: 45px;
  --input-10-w: 471.62px; //채팅입력창
  --input-10-h: 49.88px;
  --input-11-w: 420px; //로그인회원가입창
  --input-11-h: 60px;

  --btn-1-w: 88.98px; //중복확인
  --btn-1-h: 37.5px;
  --btn-2-w: 118.63px; //사진수정,로그아웃
  --btn-2-h: 31.5px;
  --btn-3-w: 135.04px; //카테고리탭
  --btn-3-h: 39px;
  --btn-4-w: 165.29px; //채팅취소,수락
  --btn-4-h: 48px;
  --btn-5-w: 166.5px; //별점취소,수락
  --btn-5-h: 48px;
  --btn-6-w: 165.29px; //중복확인취소,완료
  --btn-6-h: 48px;
  --btn-7-w: 165.29px; //반려동물등록취소,완료
  --btn-7-h: 48px;
  --btn-8-w: 420px; //로그인,회원가입버튼
  --btn-8-h: 60px;
  --btn-9-w: 471.87px; //반려동물등록,수정
  --btn-9-h: 50.52px;
  --btn-10-w: 540px; //채팅방입장버튼
  --btn-10-h: 71.69x;
  --btn-11-w: 268.29px; //글작성버튼
  --btn-11-h: 67.73px;

  --modal-1-w: 330.58px;
  --modal-1-h: 175.31px;
  --modal-2-w: 331.54px;
  --modal-2-h: 252px;
  --modal-3-w: 360.66px;
  --modal-3-h: 198.46px;
  --modal-4-w: 406.5px;
  --modal-4-h: 285.12px;
}

* {
  font-family: 'Pretendard', sans-serif;
}

.home {
  width: var(--home-w);
  height: var(--home-h);
  background-color: var(--bg-2);
  display: var(--disp);
  flex-direction: var(--flex-d-c);
  align-items: var(--align-itm);
  justify-content: var(--jus-cont);
  margin: var(--mg-a);
}

.layout {
  width: var(--layout-w);
  height: var(--layout-h);
  background-color: var(--bg);
  display: var(--disp);
  flex-direction: var(--flex-d-c);
  align-items: var(--align-itm);
  justify-content: var(--jus-cont);
  margin: var(--mg-a);
}

.container {
  width: var(--cont-w);
  height: var(--cont-h);
  background-color: var(--bg-2);
  display: var(--disp);
  flex-direction: var(--flex-d-c);
  align-items: var(--align-itm);
  justify-content: var(--jus-cont);
  margin: var(--mg-a);
}

// 폰트 크기
.font-s1 {
  font-size: var(--font-s1);
}

.font-s2 {
  font-size: var(--font-s2);
}

.font-s3 {
  font-size: var(--font-s3);
}

.font-s4 {
  font-size: var(--font-s4);
}

.font-s5 {
  font-size: var(--font-s5);
}

.font-s6 {
  font-size: var(--font-s6);
}

.font-s7 {
  font-size: var(--font-s7);
}

.font-s8 {
  font-size: var(--font-s8);
}

.font-s9 {
  font-size: var(--font-s9);
}

.font-s10 {
  font-size: var(--font-s10);
}


// 폰트 굵기
.font-w1 {
  font-weight: var(--font-w1);
}

.font-w2 {
  font-weight: var(--font-w2);
}

.font-w3 {
  font-weight: var(--font-w3);
}

.font-w4 {
  font-weight: var(--font-w4);
}

.font-w5 {
  font-weight: var(--font-w5);
}

.font-w6 {
  font-weight: var(--font-w6);
}

// 색상 - 글씨
.color-1 {
  color: var(--color-1);
}

// sub-color
.color-2 {
  color: var(--color-2);
}

// 로그인 인풋
.color-3 {
  color: var(--color-3);
}

// 로그인 인풋
.color-4 {
  color: var(--color-4);
}

// 컬러버튼 텍스트
.color-5 {
  color: var(--color-5);
}

// 모달 텍스트
.color-6 {
  color: var(--color-6);
}

// 메인 리스트 보더컬러
.color-7 {
  color: var(--color-7);
}

// 카테고리탭 텍스트
.color-8 {
  color: var(--color-8);
}

// 포스트박스에 카테고리 텍스트 + 채팅 대화방 날짜
.color-9 {
  color: var(--color-9);
}

// 상세페이지 모집상태 + 채팅목록(닉네임, 내용, 날짜) + 마이페이지 공지 내용
.color-10 {
  color: var(--color-10);
}

// 상세페이지 날짜, 위치, 작성시간 + 마이페이지 사진수정
.color-11 {
  color: var(--color-11);
}

// 포스트 이미지 미리보기, 추가, 업로드갯수 + 마이페이지 탭메뉴 활성
.color-12 {
  color: var(--color-12);
}

// 글작성 제목, 내용, 가격 placeholder + 마이페이지 탭메뉴 비활성
.color-13 {
  color: var(--color-13);
}

// 글작성 날짜, 위치, 크기 placeholder + 반려동물 등록 placeholder
.color-14 {
  color: var(--color-14);
}

// 마이페이지 공지 제목 텍스트
.color-15 {
  color: var(--color-15);
}

// 마이페이지 닉네임
.color-16 {
  color: var(--color-16);
}

// 마이페이지 로그아웃
.color-17 {
  color: var(--color-16);
}

// 마이페이지 약속날짜
.color-18 {
  color: var(--color-18);
}

// 마이페이지 진행완료 텍스트 + 작성일자
.color-19 {
  color: var(--color-19);
}


// 색상 - 배경
.bg-1 {
  background-color: var(--bg-1);
}

.bg-2 {
  background-color: var(--bg-2);
}

// 채팅 상대방 말풍선
.bg-3 {
  background-color: var(--bg-3);
}

// 모달 취소
.bg-4 {
  background-color: var(--bg-4);
}

// 회원가입
.bg-5 {
  background-color: var(--bg-5);
}

// 글쓰기 등록 취소
.bg-6 {
  background-color: var(--bg-6);
}

// input 디자인

// 채팅 말풍선 최소
.form-1 {
  width: var(--input-1-w);
  height: var(--input-1-w);
  border: var(--bder-1);
  border-radius: var(--bder-rad-5);
}

// 채팅 말풍선 중간
.form-2 {
  width: var(--input-2-w);
  height: var(--input-2-w);
  border: none;
  border-radius: 22.5px;
}

// 반려동물 나이
.form-3 {
  width: var(--input-3-w);
  height: var(--input-3-w);
  border: 0.75px solid #ED9071;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding-left: 21.81px;
  ::placeholder {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #565656;
  }
}

// 반려동물 이름, 종류
.form-4 {
  width: var(--input-4-w);
  height: var(--input-4-w);
  border: 0.75px solid #ED9071;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding-left: 21.81px;
  ::placeholder {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #565656;
  }
}

// 채팅 말풍선 최대
.form-5 {
  width: var(--input-5-w);
  height: var(--input-5-w);
  border: none;
  border-radius: 22.5px;
}

// 글작성 제목, 가격
.form-6 {
  width: var(--input-6-w);
  height: var(--input-6-h);
  border: 1.5px solid #929292;
  border-radius: 4.5px;
  padding-left: 27.23px;
  ::placeholder {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px;
    color: #787878;
  }
}

// 글작성 내용
.form-7 {
  width: var(--input-7-w);
  height: var(--input-7-h);
  border: 1.5px solid #929292;
  border-radius: 4.5px;
  padding-left: 27.23px;
  ::placeholder {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #565656;
  }
}

// 글작성 날짜, 위치, 크기
.form-8 {
  width: var(--input-8-w);
  height: var(--input-8-w);
  border: 1.5px solid #929292;
  border-radius: 4.5px;
  background-color: #DEDCDB;
  padding-left: 27.23px;
  ::placeholder {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px;
    color: #5E5E5E;
  }
}

// 검색창
.form-9 {
  width: var(--input-9-w);
  height: var(--input-9-w);
  border: 1.5px solid #6F6F6F;
  border-radius: 6px;
  padding-left: 27.23px;
}

// 채팅 입력창
.form-10 {
  width: var(--input-10-w);
  height: var(--input-10-w);
  border: none;
  border-radius: 22.5px;
  background-color: #EBEBEB;
  padding: 13.5px 25px;
}

// 로그인 회원가입 입력
.form-11 {
  width: var(--input-11-w);
  height: var(--input-11-w);
  border: 1.5px solid #929292;
  padding-left: 25px;
  ::placeholder {
    font-size: 24px;
    font-weight: 400;
    color: #787878;
  }
}


// button 디자인

// 중복확인
.btn-1 {
  width: 88.98px;
  height: 37.5px;
  border: none;
  border-radius: 4.5px;
  font-size: 18px;
  font-weight: 400;
  color: #7D7D7D;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 사진수정, 로그아웃
.btn-2 {
  width: 118.63px;
  height: 31.5px;
  border: 1.5px solid;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 카테고리 탭
.btn-3 {
  width: 135.04px;
  height: 39px;
  border: none;
  border-radius: 13.5px 13.5px 0 0;
  font-size: 18px;
  font-weight: 400;
  background-color: #ED9071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 채팅 취소, 수락
.btn-4 {
  width: 165.29px;
  height: 48px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 별점 취소, 확인
.btn-5 {
  width: 166.5px;
  height: 48px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 중복확인 취소, 완료
.btn-6 {
  width: 165.29px;
  height: 48px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 마이페이지 동물등록 취소, 완료
.btn-7 {
  width: 165.29px;
  height: 48px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 로그인, 회원가입 버튼
.btn-8 {
  width: 420px;
  height: 60px;
  border: none;
  border-radius: 4.5px;
  color: '#FFFFFF';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 반려동물 등록 및 수정
.btn-9 {
  width: 471.87px;
  height: 50.52px;
  border: none;
  border-radius: 1.5px;
  color: #FFFFFF;
  background-color: #ED9071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 채팅방 입장 버튼
.btn-10 {
  width: 540px;
  height: 71.69px;
  color: '#FFFFFF';
  background-color: #ED9071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 글작성 버튼
.btn-11 {
  width: 268.29px;
  height: 67.73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// state수락 취소버튼 곡선
.btn-12 {
  border-radius: 0 0 0 15px;
}

// state수락 확인버튼 곡선
.btn-13 {
  border-radius: 0 0 15px 0;
}

// state수락 취소버튼 곡선
.btn-14{
  border-radius: 0 0 0 16.5px;
}

// state수락 확인버튼 곡선
.btn-15 {
  border-radius: 0 0 16.5px 0;
}

// state수락 취소버튼 곡선
.btn-16 {
  border-radius: 0 0 0 18px;
}

// state수락 확인버튼 곡선
.btn-17 {
  border-radius: 0 0 18px 0;
}


// 모달 크기 설정

// state수락 모달
.modal-1 {
  width: 330.58px;
  height: 175.31px;
  border: none;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 평점 모달
.modal-2 {
  width: 331.54px;
  height: 252px;
  border: none;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 중복확인 모달
.modal-3 {
  width: 360.66px;
  height: 198.46px;
  border: none;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 반려동물 정보 모달
.modal-4 {
  width: 406.5px;
  height: 285.12px;
  border: none;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}